@import 'src/scss/mixins';
@import 'src/scss/colors';

.skill {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: #1d3460;
  color: #ffffff;
  border: 1px solid #7a7b7e;
  border-radius: 10px/6px;
  text-align: center;
  box-shadow: 0 0 5px 0 #0014ff;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
  font-weight: 700;
  transition: all .5s ease-in-out 0s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:hover {
    color: white;
  }
}
