@import './scss/variables';
@import './scss/fonts';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  @extend .flex-column-grow-overflow;
}

html {
  box-sizing: border-box;
  font-family: $PTRootUI;
}

.m-5 {
  margin: 5px;
}

.flex-column-grow-overflow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

#root {
  @extend .flex-column-grow-overflow;
}

.app-content {
  @extend .flex-column-grow-overflow;
}

.app-main {
  @extend .flex-column-grow-overflow;
}

.pageFooter {
  flex-shrink: 0;
  background-color: #e7e7e7;
  padding: 30px 20px;
  width: 100%;

  &__branding {
    border-top: 1px solid;
    padding-top: 17px;
    width: 100%;
    text-align: center;
  }
}
